/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : Jul. 27, 2020, 12:25:14 p.m.
    Author     : 
*/


* {
    /*padding-inline-start: 0px;*/
   margin: 0;
   padding: 0;
}


body {
   font-family: Gill, Helvetica, sans-serif;
   font-size: 13px;
   margin:0px;
   color:#5d5d5a;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#language{
    text-align: right;
    margin-left: 80%;
    margin-right: 20%;             
}

#container{
    position: relative;
    /*text-align: center;*/
    /*background-color: #fff4e3;*/
    min-height: 100vh;
    /*min-height: 100%;*/
    /*background-color: #fff;*/
}

#subcontainer{
    text-align: center;
    margin-left:16%;
    margin-right:16%;
}

.subcontainer {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    width: 800px;
    margin-left:auto;
    margin-right: auto;
    /*border:1px solid #ffcdab;*/
    border:1px solid #999999;
    margin-bottom:30px;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
   position:absolute;
   /*bottom: 0;*/
   width: 100%;
   background-color: #5d5d5a;
   color: white;
   text-align: center;
   height: max-content; 
   padding-top:20px;
   padding-bottom:20px;    
}

#footer img{padding-right:10px}

#footer p {
    margin-bottom:20px;
}

.subtitle{
    padding-top:20px;
    font-size: 1.5rem;
    color:#dba053;
    margin-bottom:30px;
    text-align:center;
}

input[type=submit]  {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}



#main{
    background-color: lightgray;
    height:max-content;
}

h1{
   text-align: center;
}

h2{
   text-align: center;
   color: orangered;
}

#logout{
   margin-top: 30px;
}

#horaire{
   text-align: center;
   /*width: 800px;*/
   margin-left: auto;
   margin-right: auto;             
}

/*For menu*/
.topnav {
 overflow: hidden;
 /*background-color: #333;*/
 background-color: #fff;
 border-bottom: 1px solid #ffcdab;
}

a {
    color:#c67605;
}


.message{
    /*display:block;*/
    font-size: .875rem;
    padding: 8px;
    text-align: left;
    /*width:calc(100% - 30px);*/
    /*width: fit-content;*/
    /*margin-left: calc(100% - 30px);*/
    /*margin-right: calc(100% - 30px);*/    
    line-height: 26px;
    border:1px solid #ffcdab;
    background-color: #fff;
    border-radius:4px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.message.info {
    border-top: 2px solid green;
}

.message.info:before{
   content: "\f05a";
   font-family: "FontAwesome";
   display: inline-block;
   padding-left: 12px;
   padding-right:12px;
   vertical-align: middle;
   font-weight: 900;
   font-size: 20px;
   color:green;
}

.message.warning{
    border-top: 2px solid red;
}

.message.warning:before{
   content: "\f071";
   font-family: "FontAwesome";
   display: inline-block;
   padding-left: 12px;
   padding-right:12px;
   vertical-align: middle;
   font-weight: 900;
   font-size: 20px;
   color:red;

}

.note{
    font-size: .875rem;
    padding: 8px;
    padding-right:20px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;    
    line-height: 20px;
/*    border: 1px solid #dddddd;
    background-color: #fff;*/
}

.note:before{
   content: "\f061";
   font-family: "FontAwesome";
   display: inline-block;
   padding: 12px;
   vertical-align: middle;
   font-weight: 900;
   font-size: 20px;
   color:red;
}


ul#menu li {
  display:inline;
  padding: 10px;
}

ul#menu li a{
  color:white;
}

.button {
  background-color:#c67605;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;  
  Safaritransition-duration: 0.1s;
  border-radius: 2px;
}

.button1:hover:enabled {
  box-shadow: 1px 1px 10px #ffa500;
}

.space_height_30{
    height:30px;
    min-height: 30px;
}

.money{
    font-size:20px; 
    color:#c67605; 
    font-weight:900;
}


.topnav a {
    float: left;
    color: #5d5d5a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left:4px;
}

.topnav a:hover {
    color: #ffa500;
    /*border-bottom: 3px solid #7b6c74;*/
    padding-bottom: 2px;
}

.topnav a.active {
    /*background-color: #4CAF50;*/
    color: #ffa500;
    border-bottom: 3px solid #ffa500;
    padding-bottom: 2px;
}  

.topnav a.inactif {
   /*background-color: #4CAF50;*/
   color: #ccc;
   border-bottom: none;
   padding-bottom: 2px;
   cursor:default;
}  

.buttonright{
    text-align:right;
    margin-top:20px;
}

