/*
    Created on : Jul. 27, 2020, 4:49:12 p.m.
    Author     : Serge Samson
    Style sheet for Form
*/


input[type=text], select, textarea, input[type=password] {
  width: 80%;
  padding: 6px;
  /*border: 1px solid #ffcdab;*/
  border:1px solid #999999;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-100{
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 6px;    
    /*line-height: 20px;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.choice {
    float: right;
    display: inline;
    margin-left: 3em;
}

.choice input {
    vertical-align: left;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}